@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DMV Change of Address Page</h1> 
    <p>
      At this website, you can change your address in order to inform the 
      DMV of your whereabouts. Also, you can see a list of pending/current addresses.
</div>

<h2>Links</h2>

<ul>
   <li>@Html.ActionLink("Change Address", "AddForm") </li>
   <li>@Html.ActionLink("List of Addresses", "List")</li>
</ul>