@{
    ViewBag.Title = "Page1";
 }
  <h2 align="center">USD to CAD Conversion</h2>
		<p1> 
         With the recent events in the United States, it is completely understandable
         if you need to get out here and head to Canada, whether that be for a short 
         period, or indefintely. Either way, you will need funds. Enter in your amount of money in USD,
         and this page will tell you how much money you have in CAD by pressing the
         submit button. And if you decide you want 
         to come back to the US, you can convert back to USD fro CAD as well. 
        </p1>
		<br>
        
		<!--Form to grab info for later converison, calls Page1-->
		<div>
        <form method="get" action="Page1">
                Monetary Amount:
                <input type="number" name="money" value=""><br>
                Converted To:
		        <input type="text" name="conversionTo" value=""/>
				<input type="submit" value="Submit" name="submit">
        </form>
        </div>

		<!--Gets the conversion from the viewbag-->
<p>
         @ViewBag.Message
</p>
	