body {
    background-color: lightblue;
    border-style: solid;
    border-color: silver;
    border-width: 200px;
    margin:auto;

}

h1 {
    color: white;
    text-align: center;
    margin: 0 0 50px 0;
    font-family: verdana;
    font-weight: bold;
}
p, p2, p3, ol,p4,p5{
    font-weight: bolder;
}



table, th,td  {
    border: 1px solid black;
    font-weight: bolder;
}

dl{
    font-family: verdana;
}